<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @essence.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @essence.description %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @essence.exp %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @essence.img_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @essence.price %>
</p>
<p>
  <strong>Type:</strong>
  <%= @essence.type %>
</p>
<p>
  <strong>Locate:</strong>
  <%= @essence.locate %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @essence.rating %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @essence.exp %>
</p>

<%= link_to 'Edit', edit_essence_path(@essence) %> |
<%= link_to 'Back', essences_path %>
